/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


button,
input,
textarea{
    outline: none;/*contour des éléments enlevés*/
    border: none;
    font-family: inherit;
}

body{
    max-width: 100vw;/*100wx taille de l'écran que l'on visualise*/
    font-family: sans-serif;
    padding-top: 60px;
    font-size: 18px;
}

body.dark .btnRose{
    background-color: var(--grey);
    color: var(--black);
}
body.dark .btnRose:hover,          /*ceux-ci est por le btn*/
.btnRose:hover{
    background-color: var(--rose);
    color: var(--black);
}



/* GENERAL */

h2{
    display: inline-block;
    padding: 0 10px 0 0;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 70%, var(--rose) 70%, var(--rose) 90%);
}

P{
  margin-bottom: 20px;
}

section{
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
}

.btnRose{
    cursor: pointer;
    display: block;
    width: max-content;
    text-decoration: none;
    padding: 10px 60px;
    border-radius: 30px;
    background-color: var(--black);
    color: #ffffff;
    margin: 30px auto;
    transition: 0.3s ease;
}

.btnRose:hover{
background-color: var(--rose);
color: var(--black);
}

/* UTILITAIRES */
.invisible{
    visibility: hidden;
}

.dnone{
    display: none;
}

.rose{
    color: var(--rose);
}