@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import "./css/general.css";
@import "./css/navigation.css";
@import "./css/header.css";
@import "./css/section_presentation.css";
@import "./css/section_galerie.css";
@import "./css/section_contact.css";
@import "./css/footer.css";
@import "./css/responsive.css";

/*VARIABLES & THEME*/
:root {                   /*j'ai déclaré mes variable --*/
    --rose:#ff92d2;
    --ombre: 0 2px 5px rgba(0,0,0,0.3);
    --black: #222222;
    --grey: #eeeeee;
}


body.dark{
    color: var(--grey);
    background-color: var(--black);
}

div#mesphotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espace entre les images */
    padding: 20px;
}

div#mesphotos img {
    width: 200px; /* Taille par défaut des images */
    height: auto;
    border-radius: 10px !important;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Adaptation pour les écrans de taille moyenne */
@media screen and (max-width: 750px) {
    div#mesphotos img {
        width: 45%; /* Les images occupent 45% de la largeur */
        margin: 10px; /* Ajoute de l'espace autour de chaque image */
    }
}

/* Adaptation pour les petits écrans */
@media screen and (max-width: 500px) {
    div#mesphotos img {
        width: 100%; /* Les images occupent toute la largeur */
        margin: 5px 0; /* Moins d'espace pour garder une apparence fluide */
    }
}
